*{margin:0; padding:0; box-sizing:border-box;}
body{
    font-family:sans-serif;
}
header{
    background:#333333;
    display:flex;
    padding:20px;
    align-items:center;
}
header h1{
    color:#fff;
    font-size:40px;
    text-transform:uppercase;
}
header .wrap{
    color:orange;
    font-size:70px;
}
nav {
    width:100%;
    background:#666666 ;
}
ul {
    display:flex;
}

ul li {
    list-style-type: none;
    border-right: 1px solid #3e3e3e;
}

ul li a{
    padding:20px;
    display:block;
    color:#fff;
    text-decoration: none;
    text-transform:capitalize;
}
footer{
    padding:16px 0;
    background:#333333;
    
}
footer p{
    text-align:center;
    color:#fff;
    font-size:15px;
}
footer p a {
    color:#f77e12;
    text-decoration:none;
    text-transform:none;
}

